/* 
colors: 
navy: rgb(39, 44, 52);
light-blue: rgb(97, 218, 251);
*/

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.container {
  width: 80%;
  margin: 0 auto;
}

.App-header {
  background-color: #202536;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.mainarticle {
  width: 30%;
}

.btn {
  display: inline-block;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  margin-top: 30px;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
