.container {
  width: 80%;
  margin: 0 auto;
}

.App-header {
  background-color: #202536;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.mainarticle {
  width: 30%;
}

.btn {
  display: inline-block;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #000;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card img {
  width: 100%;
  height: auto;
}

